[submodule "platform/mirth-local-environment"]
	path = platform/mirth-local-environment
	url = https://github.com/rafmardev/mirth-local-environment.git
[submodule "application/mirth-hl7-producer"]
	path = application/mirth-hl7-producer
	url = https://github.com/rafmardev/mirth-hl7-producer.git
[submodule "application/mirth-hl7-consumer"]
	path = application/mirth-hl7-consumer
	url = https://github.com/rafmardev/mirth-hl7-consumer.git
[submodule "application/lisp-checker"]
	path = application/lisp-checker
	url = https://github.com/rafmardev/lisp-checker
[submodule "application/csv"]
	path = application/csv
	url = https://github.com/rafmardev/csv
